root = true[*]indent_style = space# Regla 1 del formatter, usar espacios en lugar de tabs para indentacionindent_size = 2# Regla 2 del formatter, usar 2 espacios para indentacionmax_line_length = 140# Regla 1 del linter, maximo 140 caracteres por lineaij_kotlin_space_around_operators = true# Regla 2 del linter, espacios alrededor de operadores[*.kt]ij_kotlin_imports_wildcard_imports = falseij_kotlin_property_naming = trueij_kotlin_property_name_style = camelCaseij_kotlin_constant_name_style = UPPER_SNAKE_CASE